# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars.backup
*.tfplan

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~
